<a class="bouton bouton--rouge pastille" id="pastille" href="#rendez-vous" tabindex="-1" aria-hidden="true">{{textes.cta}}</a>

<dialog class="visionneuse" id="visionneuse" aria-label="Photos des coupes">
  <div class="visionneuse__cadre">
    <figure class="visionneuse__figure">
      <img class="visionneuse__img" id="vis-img" alt="" width="400" height="500">
      <figcaption class="visionneuse__compteur chiffres" id="vis-compteur"></figcaption>
    </figure>
    <div class="visionneuse__nav">
      <button class="visionneuse__btn" type="button" id="vis-prec" aria-label="Photo précédente">{{icone:chevron-gauche}}</button>
      <button class="visionneuse__btn" type="button" id="vis-suiv" aria-label="Photo suivante">{{icone:chevron-droite}}</button>
    </div>
    <button class="visionneuse__btn visionneuse__fermer" type="button" id="vis-fermer" aria-label="Fermer">{{icone:fermer}}</button>
  </div>
</dialog>

<script>
{{js}}
</script>
</body>
</html>
