<!doctype html>
<html lang="fr" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<script>document.documentElement.className = document.documentElement.className.replace("no-js", "js attente");</script>
<title>{{page_titre}}</title>
<meta name="description" content="{{meta.description}}">
<meta name="theme-color" content="{{meta.theme}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="fr_LU">
<meta property="og:title" content="{{meta.titre}}">
<meta property="og:description" content="{{meta.description}}">
<link rel="icon" type="image/png" sizes="64x64" href="{{favicon}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{apple_touch}}">
<style>
{{css}}
</style>
<script type="application/ld+json">{{jsonld}}</script>
</head>
